.container {
  max-width: 1300px;
  margin: 150px auto;
  padding: 0 20px;
  display: flex;
  gap: 100px;
}

.line {
  font-size: 2rem;
  line-height: 1.7;
  color: #fff;
  margin-bottom: 14px;
}

.photoBox {
  width: 300px;
  /* height: 250px; */
}

.photoBox img {
  max-width: 100%;
}