/* project UI section */
  .projects {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 120px 10%;
    color: #fff;
  }

  .title {
    font-size: 28px;
    letter-spacing: 4px;
    margin-bottom: 60px;
    /* opacity: 0.8; */
  }

  .card_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
  }

  .card {
    border: 1px solid rgba(255,255,255,0.2);
    padding: 50px;
    cursor: pointer;
    background: rgba(255,255,255,0.06);
    opacity: 1;
    transform: translateY(30px);
    transition: all 0.5s ease-in-out;
  }

  .card.show {
    opacity: 1;
    transform: translateY(0);
  }

  .card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.7;
    margin-bottom: 20px;
  }

  .tag {
    font-size: 12px;
    letter-spacing: 2px;
    opacity: 0.6;
  }

  /* Hover 효과 */
  .card:hover {
    transform: translateY(-10px) scale(1.03);
    border-color: white;
    background: rgba(255,255,255,0.05);
  }