:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* NavBar */
header {
  width: 100%;
  height: 80px;
  background-color: #0a0a0a;;
}
.header {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  margin: 0 auto;
}
.header strong {
  /* flex-grow: 1; */
}
.header strong img {
  width: 50px;
  background-color: #fff;
}
nav {
  display: flex;
  gap: 20px;
  margin-right: 20px;
  color: #fff;
  
}

/* main page */

/* particle canvas */
.canvasBg {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.intro {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px) ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  position: relative;
  z-index: 10 !important;
  text-align: center;
}

.text {
  color: white;
  font-size: 52px;
  font-weight: 600;
  margin: 20px 0;
  opacity: 0.5;
  transform: scale(1);
  transition: 
    transform 0.45s cubic-bezier(.34,1.56,.64,1),
    opacity 0.3s ease;
}

.text.active {
  transform: scale(1.6);
  opacity: 1;
}

/* 마지막 문구 고정 강조 */
.final {
  margin-top: 40px;
  font-size: 20px;
  opacity: 0.8;
  letter-spacing: 2px;
}

/* project UI section */
/* .projects {
  width: 100%;
  height: 100%;
  padding: 120px 10%;
  color: white;
}

.section-title {
  font-size: 28px;
  letter-spacing: 4px;
  margin-bottom: 60px;
  opacity: 0.8;
}

.card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
}

.card {
  border: 1px solid rgba(255,255,255,0.2);
  padding: 30px;
  transition: all 0.5s ease;
  cursor: pointer;
  background: rgba(255,255,255,0.02);
  opacity: 0;
  transform: translateY(40px);
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.7;
  margin-bottom: 20px;
}

.tag {
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.6;
} */

/* Hover 효과 */
.card:hover {
  transform: translateY(-10px) scale(1.03);
  border-color: white;
  background: rgba(255,255,255,0.05);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
