.apiSection {
  text-align: center;
  margin: 100px;
}
.apiSection h1 {
  margin-bottom: 50px;
}
.apiWrap {
  display: flex;
  justify-content: space-around;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.video {
  border: 7px solid #ccc;
  border-radius: 40px;
  overflow: hidden;
}
.card {
  width: 300px;
  overflow: hidden;
  margin-bottom: 30px;
}
.imgBox {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border: 5px solid #aaa;
  border-radius: 20px;
}
.imgBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:hover img {
  transform: scale(1.1);
  transition: all 0.3s linear;
}

@media screen and (max-width:768px) {
  .apiWrap {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}