.cloneSection {
  text-align: center;
  margin-top: 100px;
}
.clonewrap {
  margin-top: 100px;
}
.article {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 0;
}
.card {
  width: 350px;
  height: auto;
  overflow: hidden;
}
.card>.subtitle {
  margin-bottom: 15px;
}
.imgBox {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border: 5px solid #aaa;
  border-radius: 10px;
  margin-bottom: 10px;
}
.imgBox img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card:hover img {
  transform: scale(1.1);
  transition: all 0.3s linear;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 50px;
}
@media screen and (max-width:768px) {
  .article {
    flex-direction: column;
    align-items: center;
  }
}
