.section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .panel {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .panel1 {
    background-color: darkblue;
    color: white;
  }
  .panel2 {
    background-color: skyblue;
    color: darkblue;
  }
  .panel3 {
    background-color: gold;
    color: red;
  }
  .panel4 {
    background-color: tomato;
    color: darkblue;
  }
}
